/********* Xml *********/
.tagmark {
    -fx-fill: gray;
}
.anytag {
    -fx-fill: crimson;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.attribute {
    -fx-fill: darkviolet;
}
.avalue {
    -fx-fill: black;
}

.comment {
    -fx-fill: teal;
}

/*************** Rich text ***************/
.main-selection {
    -fx-fill: #adb4b4;
}
.display-code-area .text {
    -fx-font-size: 12;
    -fx-font-family: "MiSans Normal";
    /*-fx-spacing: 4;*/
}
.keyword {
    -fx-fill: #8f2614;
}
.keyword2 {
    -fx-fill: #005eb9;
    -fx-font-weight: bold;
}
.key {
    -fx-fill: #be4d0f;
}
.number {
    -fx-fill: #128c27;
}
.bool {
    -fx-fill: #005eb9;
}
.string,
.string2 {
    -fx-fill: #676767;
}
.brace {
    -fx-fill: #0067b2;
}
.bracket {
    -fx-fill: #0067b2;
}
.appendix {
    -fx-fill: #939393;
    -fx-font-family: "MiSans Demibold";
}

.identifier {
    -fx-fill: #876b96;
}

.comment,
.comment2 {
    -fx-fill: #7d7d7d;
}

.type,
.type2,
.type3 {
    -fx-fill: #0067b2;
}

.operator {
    -fx-fill: #0067b2;
}

.default,
.delimiter {
    -fx-fill: #646a70;
}


/******** line number *********/
.lineno {
    /*-fx-font-family: "JetBrains Mono";*/
    -fx-font-size: 10px;
    -fx-background-color: white;
    -fx-padding: 0.0em, 0.2em, 0.0em, 0.0em;
    -fx-text-fill: #226c5c;
    -fx-font-family: "MiSans Demibold";
    /*-fx-text-fill: red;*/
}