@font-face {
    font-family: "MiSans Normal";
    src: url("/font/MiSans-Normal.ttf");
}
@font-face {
    font-family: "MiSans Demibold";
    src: url("/font/MiSans-Demibold.ttf");
}
.root {
    -fx-background-color: TRANSPARENT;
    -fx-font-family: "MiSans Normal";
    -fx-font-size: 12;
}
.root-vbox {
    -fx-border-color: #C2C2C2BC;
    -fx-border-width: 0.5 0 0 0;
}
.menu-bar {
    -fx-background-color: TRANSPARENT;
}


.split-pane > .split-pane-divider {
    -fx-padding: 0 0.25 0 0.25;
    -fx-background-color: TRANSPARENT;
    -fx-border-width: 0 0.6 0 0;
    -fx-border-color: #C2C2C2BC;
}


/******* scroll bar *********/
.scroll-bar {
    -fx-background-color: TRANSPARENT;
    /*-fx-opacity: 0.5;*/
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #bababa;
    -fx-background-radius: 5em;
}
.scroll-pane .corner {
    -fx-background-color: TRANSPARENT;
    -fx-border-width: 0;
    /*-fx-border-color: cyan;*/
}
/*.scroll-bar .increment-button {*/
/*    visibility: hidden;*/
/*    !*-fx-opacity: 0;*!*/
/*}*/
/*.scroll-bar .decrement-button {*/
/*    visibility: hidden;*/
/*}*/
/*.scroll-bar:horizontal,*/
/*.scroll-bar:vertical {*/
/*    -fx-background-color: TRANSPARENT;*/
/*}*/
/*.scroll-bar:horizontal .track-background,*/
/*.scroll-bar:vertical .track-background {*/
/*    visibility: hidden;*/
/*}*/
/* .scroll-bar:vertical .track {*/
/*    visibility: hidden;*/
/*}*/
/*.hide-thumb .scroll-bar:vertical .thumb {*/
/*    -fx-background-color: TRANSPARENT;*/
/*}*/

/******* text-area *********/
.text-area {
    -fx-highlight-fill: #adb4b4;
    -fx-highlight-text-fill: #2c2c2c;
}
.text-field {
    -fx-accent: #868686;
}

/******* Context-menu *********/
.context-menu {
    /*-fx-background-color: TRANSPARENT;*/
    -fx-background-color: rgba(255, 255, 255, 0.95);
    /*-fx-padding: 0.3em 0.0em 0.3em 0.0em;*/
    -fx-background-radius: 6;
    -fx-pref-width: 140;
    -fx-padding: 6 2 6 2;
    /*-fx-background-insets: 0, 2, 2;*/
}
.context-menu .menu-item {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 5 5 5 5, 5 5 5 5, 5 5 5 5;
    -fx-padding: 5 10 5 10;
    /*-fx-border-width: 1;*/
    /*-fx-border-color: #7c3c19;*/
}
.context-menu .menu-item .label {
    -fx-text-fill: #3b3b3b;
    -fx-font-size: 12;
}
.context-menu .menu-item:focused {
    -fx-background-color: #29c1c1;
}
.context-menu .menu-item:focused .label {
    -fx-text-fill: #000000;
}


/******* bottom *******/
.bottom-bar {
    /*-fx-background-color: TRANSPARENT;*/
    -fx-background-color: rgba(255, 255, 255, 0.87);
    -fx-pref-height: 21;
    -fx-border-color: #C2C2C2BC;
    -fx-border-width: 0.5 0 0 0;
}
.bottom-bar .display-label {
    -fx-font-size: 12;
    -fx-text-fill: rgb(128, 128, 128);
    -fx-font-family: "MiSans Demibold";
}
.bottom-bar .display-label.healthy {
    -fx-text-fill: rgba(52, 155, 47, 0.81);
    /*-fx-underline: true;*/
}
.bottom-bar .display-label.error {
    -fx-text-fill: rgba(210, 56, 43, 0.9);
    -fx-underline: true;
    -fx-font-family: "MiSans Demibold";
}
.bottom-bar .display-label.error:hover,
.bottom-bar .display-label.healthy:hover {
    -fx-opacity: 0.65;
}
.bottom-bar .server-icon.healthy {
    -fx-icon-color: rgba(81, 185, 76, 0.81);
}
.bottom-bar .server-icon.error {
    -fx-icon-color: rgba(210, 56, 43, 0.9);
}


/******* custom toolBar *******/
.custom-title-bar {
    -fx-background-color: rgba(255, 255, 255, 0.86);
    -fx-pref-height: 26;
    -fx-border-width: 0;
}


/******* alert dialog *******/
.custom-alert {
    -fx-background-color: #ffffff;
    -fx-font-family: "MiSans Normal";
    -fx-padding: 10;
}
.custom-alert .button {
    -fx-background-color: #d0d0d0;
    -fx-background-radius: 5 5 5 5;
}
.custom-alert .button:hover {
    -fx-background-color: #8a8a8a;
    -fx-text-fill: #111111;
}