.button:armed,
.button:hover,
.button:focused,
.button {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}
.main-menu-btn:hover,
.jfx-toggle-node:hover,
.button:hover {
    /*-fx-background-color: rgba(229, 229, 229, 0.75);*/
    /*-fx-opacity: 0.6;*/
}
.main-menu-btn:hover .ikonli-font-icon,
.jfx-toggle-node:hover .ikonli-font-icon,
.button:hover .ikonli-font-icon{
    /*-fx-opacity: 0.7;*/
}


/******** Main config menu *********/
.main-menu-btn {
    -fx-background-color: TRANSPARENT;
    -fx-translate-y: 7;
}

/*.main-menu-btn:hover {*/
/*    -fx-background-color: rgba(255, 255, 255, 0.55);*/
/*    -fx-opacity: 0.6;*/
/*}*/

.menu-item.main-menu-item {
    -fx-background-color: TRANSPARENT;
    -fx-arrows-visible: false;
    -fx-background-radius: 6 6 6 6, 6 6 6 6, 6 6 6 6;
    -fx-padding: 10 50 10 5;
}
.menu-item.main-menu-item:hover {
    -fx-background-color: #29c1c1;
}
.menu-item.main-menu-item .ikonli-font-icon {
    -fx-icon-color: rgba(77, 77, 77, 0.77);
}
.main-menu-btn .context-menu {
    -fx-background-color: rgba(255, 255, 255, 0.95);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 6 6 6 6, 6 6 6 6, 6 6 6 6;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 6 2 6 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.35), 10, 0, 0, 0);
    -fx-pref-width: 180;
}

.main-menu-btn  > .arrow-button {
    -fx-padding: 0;
}

.main-menu-btn  > .arrow-button > .arrow {
    -fx-padding: 0;
}

.main-menu-btn .label {
    /*-fx-font-family: "MiSans Demibold";*/
    -fx-text-fill: rgba(77, 77, 77, 0.77);
}

.check-update-badge.ikonli-font-icon {
    -fx-icon-color: rgb(227, 0, 0) !important;
    -fx-icon-size: 10;
    -fx-translate-x: 2;
}

/********** toggle-node **********/
.jfx-toggle-node {
    -jfx-toggle-color: TRANSPARENT;
    /*-jfx-rippler-fill: red;*/
    -jfx-untoggle-color: TRANSPARENT;
}

.jfx-toggle-node:hover {
    -fx-opacity: 0.65;
}
#recordBtn:focused .jfx-rippler{
    -jfx-rippler-fill: white;
}


/********** wk-node **********/
.wk-node-label {
    -fx-font-size: 9;
    -fx-alignment: CENTER;
    -fx-font: 9 "MiSans Demibold";
    -fx-fill: rgba(94, 94, 94, 0.82);
}
.wk-node:hover {
    /*-fx-border-color: red;*/
}
.wk-node-background {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-max-width: 28;
    -fx-max-height: 28;
    -fx-min-width: 28;
    -fx-min-height: 28;
    /*-fx-opacity: 0;*/
}
.wk-node-background:hover {
    /*-fx-opacity: 0.5;*/
}
.wk-icon {
    -fx-background-color: TRANSPARENT;
}


/********** Separator **********/
.separator .line {
    -fx-background-color: #C2C2C2BC;
    -fx-border-width: 0;
    -fx-pref-height: 2;
}